<div class="row profile">
  <div class="col s11 m10 l10 push-m1 push-l1 profile__personal-information">
    <div class="profile__personal-information__form">
      <h5>Personal Info</h5>
      <form [formGroup]="generalForm" >
        <div class="section">
          <div class="row">
            <div class="col s12 m5 l5 push-m1 push-l1 center">
              <div class="profile__personal-information__form__profile-pic">
                <img *ngIf="!uploadingImage" class="profile__personal-information__form__user-image" src="{{user.profilePicUrl}}" alt="">
                <mz-spinner
                  *ngIf="uploadingImage"
                  class="col center s12 m12 l12 spinner"
                  [color]="'blue'"
                  [size]="'big'">
                </mz-spinner>
                <button mz-button
                  mz-tooltip
                  [tooltip]="'Change Image'"
                  [position]="'top'"
                  [delay]="800"
                  [float]="true"
                  class="wow fadeIn blue"
                  (click)="userFile.click()">
                  <i id="createEvent" mz-icon 
                    [align]="'center'"
                    [icon]="'add'">
                  </i>
                </button>
              </div>
              <input #userFile type="file" accept="image/*" (change)="onFileSelected($event)"  style="visibility: hidden">
            </div>
            <div class="col s12 m6 l6 push-m1 push-l1">
              <mz-input-container class="col s12 m11 l11 profile__personal-information__form__full-name">
                <i mz-icon-mdi mz-input-prefix
                  [icon]="'account'">
                </i>
                <input mz-input mz-validation required
                  id="input-fullName"
                  formControlName="fullName"
                  type="text"
                  [errorMessageResource]="errorMessageResources.fullName"
                  [label]="'Full Name'" />
              </mz-input-container>
              <mz-checkbox-container 
                mz-tooltip
                [tooltip]="tooltip"
                [position]="'left'"
                [delay]="800"
                class="col s12 m12 l12 profile__personal-information__form__birthday-check" >
                <input mz-checkbox
                  (click)="toggleBirthdayList($event)"
                  id="checkbox-job"
                  #onBirthdayListChk
                  type="checkbox"
                  [filledIn]="false"
                  [label]="'Participate on Birthday List?'">
              </mz-checkbox-container>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="this.user.onBirthdayList" class="profile__birthday-list__form">
      <form [formGroup]="generalForm" >
        <div class="row">
          <div class="col s12 m6 l6 push-m1 push-l1">
            <mz-datepicker-container class="col s11 m11 l11">
              <i mz-icon-mdi mz-input-prefix
              [icon]="'baby'">
              </i>
              <input mz-datepicker
                mz-validation
                required
                id="datepicker-dateOfBirth"
                formControlName="dateOfBirth"
                type="text"
                [errorMessageResource]="errorMessageResources.birthday"
                [options]="datepickerOptions"
                [label]="'Date of Birth'" />
            </mz-datepicker-container>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m10 l10 push-m1 push-l1" formArrayName="preferences">
            <h6 class="">Preferences</h6>
            <div *ngFor="let preference of getPreferences(); let i = index">
              <mz-input-container class="col s10 m5 l5" [formGroup]="generalForm.get('preferences').at(i)">
                <i mz-icon-mdi mz-input-prefix
                  [icon]="'checkbox-marked-circle-outline'">
                </i>
                <input mz-input mz-validation
                  id="input-preference-{{i}}"
                  formControlName="preference"
                  type="text"
                  (keyup.enter)="addPreference()"
                  [errorMessageResource]="errorMessageResources.preferences"
                  [label]="'Preference (ex:\'books\', \'sports\')'" />
              </mz-input-container>
              <div class="col s1">
                <button mz-button *ngIf="i > 0" [flat]="true" [float]="true" (click)="deletePreference(i)" type="button">
                  <i mz-icon class="black-text" [icon]="'clear'"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col s12 m10 l10 push-m1 push-l1">
                <button mz-button (click)="addPreference()" type="button">Add</button>
              </div>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="generalForm.dirty || generalForm.touched" class="row">
        <div class="right gif-buttons">
          <button mz-button class="red" 
            (click)="cancelForm()" 
            (click)="showToast('Canceled!', 'black')" 
            type="button">Cancel</button>
          <button mz-button
            [disabled]="!generalForm.valid" 
            (click)="submitForm()" 
            (click)="showToast('Profile Updated!', 'green')" 
            type="submit">Submit</button>
        </div>
      </div>
  </div>
  <div class="col s11 m10 l10 push-m1 push-l1 profile__general">
    <h5>General</h5>
  </div>
    <div class="col s11 m10 l10 push-m1 push-l1">
      <button mz-button class="profile__log-out right red" (click)="logOutUser()">
        <i mz-icon-mdi
          [align]="'left'"
          [icon]="'login'"
          [size]="'24px'">
        </i>
        Logout
      </button>
    </div>
</div>

