@import 'src/assets/scss/variables';
.profile {
  @extend %full_width_heigth;
  margin: 0 0 0 0;
  min-height:100%;
  padding: 125px 0 3% 0;
  height: unset;
  background: linear-gradient(160deg, #feac5e, #c779d0, #4bc0c8); // previsional colors
  &__personal-information {
    @extend %common-style;
    &__form {
      &__full-name {
        padding-top: 20px;
      }
      button {
        color: white;
        outline: none;
      }
      &__user-image {
        margin: 10px 0;
        width: 50%;
        max-width: 30%;
        border-radius: 50%;
        @media all and (max-width: $app_especific_toggle_menu) {
          max-width: 45%;
        }
      }
      &__birthday-check {
        padding: 2rem 0.75rem;
      }
    }
  }
  &__general {
    @extend %common-style;
  }
  &__log-out {
    padding: 0 1rem;
  }
}

input[type="text"] {
  text-transform: capitalize;
}

mz-datepicker-container {
  /deep/.picker__frame {
    top: 5%;
  }
}

%common-style {
  margin: 10px 15px!important;
  background-color: white;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 5px 8px 17px 0px rgba(0, 0, 0, 0.2), 5px 6px 18px 0px rgba(0, 0, 0, 0.19);
}