$strawberry_font: "Strawberry-Blossom";
$proxima-normal_font: "Proxima-Nova-Normal";
$proxima-regular_font: "Proxima-Nova-Regular";
$proxima-bold_font: "Proxima-Nova-Bold";
$proxima-thin_font: "Proxima-Nova-Thin";

$app_especific_toggle_menu: 992px;

$white: white;
$success_green: rgb(92,184,92);
$success_green_bg: rgba(92, 184, 92, 0.5);
$danger_red: rgb(217,83,79);
