<mz-navbar class="row">
  <a class="brand-logo col s2 offset-s2"><img class="responsive-img logo" src="../../assets/img/glb-no-bg.png" alt=""></a>
  <mz-navbar-item-container [align]="'right'" class="col s4 offset-s6">
    <mz-navbar-item>
      <a class="waves-effect">Sass</a>
    </mz-navbar-item>
    <mz-navbar-item>
      <a class="waves-effect">Components</a>
    </mz-navbar-item>
    <mz-navbar-item>
      <a class="waves-effect" routerLink="js">JavaScript</a>
    </mz-navbar-item>
  </mz-navbar-item-container>
  <a mz-button class="col s2 offset-s10 toogle_menu waves-effect" id="btn-sidenav-demo">
    <i mz-icon-mdi 
    [align]="'center'"
    [icon]="'menu'">
    </i>
  </a>
</mz-navbar>
<!-- SIDE NAVBAR  -->
<mz-sidenav [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'">
  <mz-sidenav-header>
    <div class="row valign-wrapper account_side_menu">
      <mz-sidenav-link>
            <a class="waves-effect">My Account</a>
      </mz-sidenav-link>
      <div class="col s2 offset-s2">
        <img  src="http://materializecss.com/images/yuna.jpg" alt="User_Image" class="circle responsive-img">
      </div>
    </div>
  </mz-sidenav-header>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-subheader>Menu Options</mz-sidenav-subheader>
  <mz-sidenav-link>
    <a class="waves-effect">First Link</a>
  </mz-sidenav-link>
  <mz-sidenav-link [active]="true">
    <a class="waves-effect">Second Link</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a class="waves-effect">Third Link</a>
  </mz-sidenav-link>
</mz-sidenav>
