@import 'src/assets/scss/variables';

mz-navbar-item  a {
  color: white!important;
}

.logo{
    max-height:46px;
    margin: 6px 0;
    vertical-align: initial;
    vertical-align: -webkit-baseline-middle;
}

.toogle_menu {
  display: none;
}

@media all and (max-width: $app_especific_toggle_menu) {
  .toogle_menu {
    display: inline;
  }
}
