.home {
    background: url("../../../assets/img/background_home.jpg") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    z-index: -1;
&__welcome {
    margin: 7% 22% 0 22%;
    color: white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
}
}
