<app-header></app-header>
<div class="home">
    <div class="home__welcome">
            <img src="../../assets/img/pinata-logo.gif" class="responsive-img wow slideInDown" data-wow-duration="1.8s" alt="Pinata" width="280px">
            <h1 class="responsive-img wow fadeIn" data-wow-duration="1.5s">Welcome to events!!</h1>
            <p class="responsive-img wow fadeIn" data-wow-duration="1.5s">The quick brown fox jumps over the lazy dog, The quick brown fox jumps over the lazy dog
                The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
            </p>
    </div>
    <div class="birthdays" [ngClass]="[birthdayReady ? '' : 'hide']">
        <div class="row">
            <h5 class="events__upcoming-events">Upcoming birthdays:</h5>
            <app-birhday-card
                *ngFor="let birthday of birthdays"
                [birthdayData]="birthday"
                class="col s12 m4 l4 birthdays__bithday-card">
            </app-birhday-card>
        </div>
    </div>
    <div class="events">
        <div [ngClass]="[eventsReady ? '' : 'hide']">
            <h5 class="events__upcoming-events">Don't miss these events:</h5>
            <div class="row event__cards">
                <app-card *ngFor="let event of events"
                    [eventData]="event"
                    class="col s12 m4 l4 wow flipInX"
                    data-wow-duration="1.4s">
                </app-card>
            </div>
        </div>
        <div class="section" *ngIf="!eventsReady">
            <div class="row">
                <mz-spinner
                    class="col center s12 m12 l12 spinner"
                    [color]="'blue'"
                    [size]="'big'">
                </mz-spinner>
            </div>
        </div>
    </div>

</div>

