<app-header></app-header>
<!-- <router-outlet></router-outlet> -->
<div class="home">
    <div class="home__welcome">
            <img src="../../assets/img/cake-boy.png" class="responsive-img" alt="Cake-boy" width="250px">
            <h1>Welcome to Piñata</h1>
            <p>The quick brown fox jumps over the lazy dog, The quick brown fox jumps over the lazy dog
                The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
            </p>
    </div>
</div>
