<app-header></app-header>
<div class="home">
    <div class="home__welcome">
            <img src="../../assets/img/pinata-logo.gif" class="responsive-img wow slideInDown" data-wow-duration="1.8s" alt="Pinata" width="280px">
            <h1 class="responsive-img wow fadeIn" data-wow-duration="1.5s">Welcome to events!!</h1>
            <p class="responsive-img wow fadeIn" data-wow-duration="1.5s">The quick brown fox jumps over the lazy dog, The quick brown fox jumps over the lazy dog
                The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
            </p>
    </div>
</div>

