<mz-navbar class="row">
  <a class="brand-logo col s2 offset-s2"><img class="responsive-img logo" src="../../assets/img/glb-no-bg.png" alt=""></a>
  <mz-navbar-item-container [align]="'right'" class="col s4 offset-s6">
    <mz-navbar-item>
      <a [routerLink]="['/birthdays']" class="waves-effect">Birthdays</a>
    </mz-navbar-item>
    <mz-navbar-item>
      <a [routerLink]="['/events']" class="waves-effect">Events</a>
    </mz-navbar-item>
    <mz-navbar-item>
      <a [routerLink]="['/my-account']" class="waves-effect">My Account</a>
    </mz-navbar-item>
    <mz-navbar-item>
      <a class="waves-effect" (click)="logOutUser()">Logout</a>
    </mz-navbar-item>
  </mz-navbar-item-container>
  <a mz-button class="col s1 offset-s10 toogle_menu waves-effect" id="btn-sidenav-demo">
    <i mz-icon-mdi 
    [align]="'center'"
    [icon]="'menu'">
    </i>
  </a>
 </mz-navbar>
 
<mz-sidenav [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'">
  <mz-sidenav-header>
    Sidenav header
  </mz-sidenav-header>
  <mz-sidenav-subheader>Link Subheader</mz-sidenav-subheader>
  <mz-sidenav-link>
    <a [routerLink]="['/birthdays']" class="waves-effect">Birthdays</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link [active]="true">
    <a [routerLink]="['/events']" class="waves-effect">Events</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
    <a [routerLink]="['/my-account']" class="waves-effect">My Account</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a class="waves-effect" (click)="logOutUser()">Logout</a>
  </mz-sidenav-link>
</mz-sidenav>
