@import 'src/assets/scss/variables';

mz-navbar-item  a {
  color: $white!important;
}

.logo{
  display: flex;
  max-height:46px;
  margin: 6px 0;
  vertical-align: -webkit-baseline-middle;
}

.toogle_menu {
  display: none;
}

@media all and (max-width: $app_especific_toggle_menu) {
  .toogle_menu {
    display: block!important;
    margin-top: 10px;
    padding: 0;
    color:white;
  }
}
.active{
  background-color: rgba(0,0,0,0.08);
}