  <div class="col s12 m3 l3" >
    <div class="card wow fadeIn" data-wow-duration="1s">
      <div class="card-image">
        <img class="wow fadeIn" data-wow-duration="1s" [ngClass]="[imageReady ? '' : 'hidden']" (load)="showImage()" [src]="eventData.image" alt="Card Img">
        <img [src]="partyImg" alt="" *ngIf="!imageReady">
        <!-- <div class="section spinner" *ngIf="!imageReady">
          <div class="row">
            <mz-spinner
            class="col s12 m12 l12"
            [color]="'blue'"
            [size]="'big'">
            </mz-spinner>
          </div>
        </div> -->
        <span class="card-title">{{eventData.title}}</span>
      </div>
      <div class="card-content">
        <p>{{eventData.description}}</p>
      </div>
      <div class="card-action">
        <a href="#">Best</a>
      </div>
    </div>
  </div>
