<mz-modal #Modal [fixedFooter]="true"  [options]="modalOptions" novalidate>
  <mz-modal-header *ngIf="!editingEvent">
    <h4>Create your event!!</h4>
  </mz-modal-header>
  <mz-modal-header *ngIf="editingEvent">
    <h4>Update your event!</h4>
  </mz-modal-header>
    <mz-modal-content>
      <form [formGroup]="eventForm" >
        <div class="section">
          <div class="row">
            <mz-input-container class="col s12 m12 l12">
              <input mz-input mz-validation required
                id="input-title"
                formControlName="title"
                type="text"
                [errorMessageResource]="errorMessageResources.title"
                [label]="'Title'" />
            </mz-input-container>
            </div>
          <div class="row" formGroupName="start">
              <h6 class="col s12">Starts</h6>
              <mz-datepicker-container class="col s12 m6">
                  <i mz-icon-mdi mz-input-prefix
                  [icon]="'calendar-range'">
                  </i>
                  <input mz-datepicker
                    mz-validation
                    required
                    id="datepicker-startTime"
                    formControlName="eventStartDay"
                    type="text"
                    [errorMessageResource]="errorMessageResources.startDate"
                    [options]="startDatepickerOptions"
                    [label]="'Events starts'" />
              </mz-datepicker-container>
              <mz-timepicker-container class="col s12 m6">
                  <i mz-icon-mdi mz-input-prefix
                    [icon]="'clock'">
                  </i>
                  <input mz-timepicker
                    mz-validation 
                    required
                    formControlName="eventStartHour"
                    [errorMessageResource]="errorMessageResources.startHour"
                    [label]="'Starts at'"
                    [options]="timepickerOptions"
                    id="timepicker-startTime"
                    placeholder="Select a start time"
                    type="text">
                </mz-timepicker-container>
          </div>
          <div class="row wow fadeIn" 
            data-wow-duration="1s"
            formGroupName="end"
            *ngIf="endDateAvalible">
              <h6 class="col s12">Ends</h6>
              <mz-datepicker-container class="col s12 m6">
                  <i mz-icon-mdi mz-input-prefix
                  [icon]="'calendar-range'">
                  </i>
                  <input mz-datepicker
                    mz-validation
                    required
                    id="datepicker-endTime"
                    formControlName="eventEndDay"
                    type="text"
                    [errorMessageResource]="errorMessageResources.endDate"
                    [options]="endDatepickerOptions"
                    [label]="'Event ends'" />
                </mz-datepicker-container>
                <mz-timepicker-container class="col s12 m6">
                  <i mz-icon-mdi mz-input-prefix
                    [icon]="'clock'">
                  </i>
                  <input mz-timepicker
                    mz-validation 
                    required
                    formControlName="eventEndHour"
                    [errorMessageResource]="errorMessageResources.endHour"
                    [label]="'Ends at'"
                    [options]="timepickerOptions"
                    id="timepicker-endTime"
                    placeholder="Select an end time"
                    type="text">
                </mz-timepicker-container>
          </div>
          <div class="row">
              <mz-textarea-container class="col s12">
                <textarea mz-textarea
                  mz-validation 
                  required
                  id="textarea-description"
                  formControlName="description"
                  [errorMessageResource]="errorMessageResources.description"
                  [label]="'Event description'"
                  [length]="255">
                </textarea>
              </mz-textarea-container>
          </div>
          <input
            formControlName="image"
            id="input-hidden"
            type="hidden" />
          <div class="row">
            <mz-input-container class="col s12 m12 l12">
              <input mz-input
                id="input-image"
                class="gif-search"
                #gifName
                type="text"
                placeholder="Select a gif for your event"
                [label]="'Card Gif'" />
            </mz-input-container>
            <div class="col s12 m12 l6 push-l3 gif-image">
              <img *ngIf="(cardGif | async)?.data[0].images.downsized.url !== null" #gifImg src="{{(cardGif | async)?.data[0].images.downsized.url}}" width="100%" alt="">
              <mz-progress *ngIf="(cardGif | async)?.data[0].images.downsized.url === null && firstSearch"
                [backgroundClass]="'blue lighten-4'"
                [progressClass]="'blue'">
              </mz-progress>
            </div>
            <div class="col s12 m12 l12">
              <div class="right">
                <button mz-button (click)="getGif(gifName.value)">Search</button>
                <button mz-button (click)="setCardImg(gifImg.src)">Choose</button>
              </div>
            </div>
          </div>
        </div>
      </form>
  </mz-modal-content>
  <mz-modal-footer>
      <button mz-button mz-modal-close class="red" 
        (click)="clear()" 
        (click)="showToast('Event canceled!', 'black')" 
        type="button">Cancel</button>
      <button mz-button mz-modal-close 
        [disabled]="!eventForm.valid" 
        (click)="submitForm()" 
        (click)="showToast('Event submited!', 'green')" 
        type="submit">Submit</button>
  </mz-modal-footer>
</mz-modal>
