
@import 'src/assets/scss/variables';

mz-modal {
 /deep/ .modal {
    max-height: 90%;
    height: 75%;
    }
}

.gif-image {
    padding: 30px 0;
}

.gif-search {
    margin-right: 10px;
}

.gif-selected {
    display: inline-block;
    height: 36px;
    vertical-align: middle;
}

.participants {
    padding: 0;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

@media all and (max-width: $app_especific_toggle_menu) {
    .addEvent {
        width: 60px;
        height: 60px;
    }
    .addEvent > i {
        line-height: 60px;
        font-size: 2em;
    }
    .gif-buttons button {
        padding: 0 20px;
    }
}