
@import 'src/assets/scss/variables';

mz-modal {
 /deep/ .modal {
    max-height: 90%;
    height: 90%;
    }
}

@media all and (max-width: $app_especific_toggle_menu) {
    .addEvent {
        width: 60px;
        height: 60px;
    }
    .addEvent > i {
        line-height: 60px;
        font-size: 2em;
    }
}