<div class="row my-events">
  <div class="col s11 m10 l10 push-m1 push-l1 my-events__created-events">
    <h5>Events that you created</h5>
    <div [ngClass]="[eventsReady ? '' : 'hide']">
      <div class="row event__cards">
        <app-card *ngFor="let event of events"
            [eventData]="event"
            [enableEdit]="true"
            (join)="joinEvent($event)"
            (leave)="leaveEvent($event)"
            (edit)="editEvent($event)"
            (delete)="confirmDelete($event)"
            class="col s12 m4 l3 wow flipInX"
            data-wow-duration="1.4s">
        </app-card>
      </div>
    </div>
    <div class="section" *ngIf="!eventsReady">
      <div class="row">
          <mz-spinner
              class="col center s12 m12 l12 spinner"
              [color]="'blue'"
              [size]="'big'">
          </mz-spinner>
      </div>
    </div>
  </div>
  <div class="col s11 m10 l10 push-m1 push-l1 my-events__joined-events">
    <h5>Joined Events</h5>
    <div [ngClass]="[eventsReady ? '' : 'hide']">
      <div class="row event__cards">
        <app-card *ngFor="let event of joinedEvents"
            [eventData]="event"
            [enableEdit]="true"
            (join)="joinEvent($event)"
            (leave)="leaveEvent($event)"
            (edit)="editEvent($event)"
            (delete)="confirmDelete($event)"
            class="col s12 m4 l3 wow flipInX"
            data-wow-duration="1.4s">
        </app-card>
      </div>
    </div>
    <div class="section" *ngIf="!eventsReady">
      <div class="row">
          <mz-spinner
              class="col center s12 m12 l12 spinner"
              [color]="'blue'"
              [size]="'big'">
          </mz-spinner>
      </div>
    </div>
  </div>
</div>
<app-confirm-modal
[eventData]="selectedEvent"
(response)="deleteEvent($event)">
</app-confirm-modal>
