@import 'src/assets/scss/variables';
.my-events {
  @extend %full_width_heigth;
  margin: 0 0 0 0;
  min-height:100%;
  padding: 125px 0 10% 0;
  height: unset;
  background: linear-gradient(160deg, #feac5e, #c779d0, #4bc0c8); // previsional colors
  &__events {
    @extend %common-style;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px 0;
    button {
      margin: auto 0;
    }
  }
  &__no-events {
    filter: grayscale(1) opacity(.3);
  }
}

%common-style {
  margin: 10px 15px!important;
  background-color: white;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 5px 8px 17px 0px rgba(0, 0, 0, 0.2), 5px 6px 18px 0px rgba(0, 0, 0, 0.19);
}