<app-header></app-header>
<div class="event">
    <div class="event__welcome">
            <img src="../../assets/img/event-boy.png" class="responsive-img wow slideInDown" data-wow-duration="1.8s" alt="Cake-boy" width="250px">
            <h1 class="responsive-img wow fadeIn" data-wow-duration="1.5s">All the events here!!</h1>
            <p class="responsive-img wow fadeIn" data-wow-duration="1.5s">The quick brown fox jumps over the lazy dog, The quick brown fox jumps over the lazy dog
                The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
            </p>
    </div>
    <div [ngClass]="[eventsReady ? '' : 'hide']">
        <div class="row">
            <app-card class="wow fadeIn" data-wow-duration="1.5s" *ngFor="let event of events" [eventData]="event" ></app-card>
        </div>
        <app-event-form></app-event-form>
    </div>
    <div class="section" *ngIf="!eventsReady">
        <div class="row">
            <mz-spinner
            class="col s12 m12 l12 spinner"
            [color]="'blue'"
            [size]="'big'">
            </mz-spinner>
        </div>
    </div>
</div>