@import 'src/assets/scss/variables';

.my-account {
    // background: linear-gradient(0deg, #FFEBEE, #EF5350) !important;
    // background: linear-gradient(0deg, #1a2a6c, #EF5350) !important;
    background: $pinata_background !important;
    background-size: cover;
    width: 100vw;
    position: absolute;
    top:0;
    z-index: -1;
}