@import 'src/assets/scss/variables';

.my-account {
  @extend %general_background;
  padding-top: 65px;
  transition: all 300ms linear;
  mz-tab-item {
    /deep/.tabs-content {
      max-height: calc(100vh - 113px);
      min-height: calc(100vh - 113px);
      margin-top: 48px;
    }
    /deep/.carousel-item {
      width: 100%;
      height: 100%;
    }
  }

  mz-tab {
    /deep/.tabs {
      position: fixed;
      z-index: 900; 
    }
    .birthdays-list {
      @extend %full_width_heigth;
      background: linear-gradient(160deg, #03001e, #7303c0, #ec38bc, #fdeff9);// previsional colors
    }
  }
}

.scrolled {
  padding-top: 44px;
}